/C#/PowerPointController/PowerPointController/bin
/C#/PowerPointController/PowerPointController/obj
/Android/PowerPointController/bin
/Android/PowerPointController/.classpath
/Android/PowerPointController/gen
/Android/PowerPointController/.settings
